
@{
    ViewBag.Title = "DatHangThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tm-section tm-login-register-area bg-white tm-padding-section" style="text-align:center">
    <h2>Đặt hàng thành công!</h2>
    <a href="@Url.Action("Index","Home")" class="btn btn-primary">Trang chủ</a>
</div>

