
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-left:20px"> <br /><br />Hiện tại cửa hàng không có chương trình khuyến mãi nào</h2>

<script>
    const a = document.querySelector('#Khuyenmai-id');
    a.style.color = '#ffc527';
</script>
