
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-left:20px"><br /><br />Vui lòng mang sản phẩm qua cơ sở gần nhất để sửa chữa hoặc bảo hành</h2>

<script>
    const a = document.querySelector('#Suachua-id');
    a.style.color = '#ffc527';
</script>
