@model WebBanLaptop.Models.Discount

@{
    ViewBag.Title = "ThemMoiKM";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



    <div class="container ">
        <div class="row">
            <div class="col-sm-9" id="content">
                @*<p>If you already have an account with us, please login at the <a href="login.html">login page</a>.</p>*@
                <form class="form-horizontal" enctype="multipart/form-data" method="post" action="ThemMoiKM" name="FormThemMoi">
                    <h2 style="font-size:35px; margin-bottom:40px;margin-left:100px;padding-top:20px;color:aqua">Thêm mới khuyến mại</h2>

                    <div class="form-group required">
                        <label for="input-firstname" class="col-sm-2 control-label">Giá trị</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="input-value" placeholder="Nhập giá trị" value="" name="value" required>
                        </div>
                    </div>
                    


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Lưu" class="btn btn-default" />
                            <a href="@Url.Action("ListKM", "QuanLySanPham")"><input type="button" name="trolai" value="Trở lại danh sách" class="btn btn-default" /></a>
                        </div>
                    </div>


                </form>
            </div>

        </div>

    </div>

