
@{
    ViewBag.Title = "PwdComplete";
    Layout = "~/Views/Shared/LoginAdmin.cshtml";
}

<div  style="text-align:center;margin-top:-250px">
    <h2 style="margin-bottom:20px">Thay đổi mật khẩu thành công</h2>

    <a href="@Url.Action("DangNhap","Admin")" class="tm-button"><input type="button" class="btn btn-primary" name="Xacnhan" value="Xác nhận" /></a>
</div>

