
@{
    ViewBag.Title = "QuenMatKhau";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<p style="font-size:50px;text-align:center">Quên mật khẩu Admin?</p>
<div class="container" style=" margin-top:100px">
    <div class="row">
        <div class="col-sm-3 hidden-xs column-left" id="column-right">
            <div class="recentpost left-sidebar-widget">
                <div class="columnblock-title">Tài khoản</div>
                <div class="category_block">
                    <ul class="box-category">
                        <li><a href="@Url.Action("DangNhap","Admin")">Đăng nhập</a></li>
                        <li><a href="@Url.Action("DangKy","Admin")">Đăng ký</a></li>
                        <li><a href="@Url.Action("QuenMatKhau","Admin")">Quên mật khẩu</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="content" class="col-sm-9">
            <h1>Bạn quên mật khẩu?</h1>
            <p>Nhập địa chỉ email liên kết với tài khoản của bạn để lấy lại mật khẩu.</p>
            <form action="forgotten" method="post" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>
                    <legend>
                        Địa chỉ email của bạn
                    </legend>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-email">Nhập E-Mail</label>
                        <div class="col-sm-10">
                            <input type="text" name="email" value="" placeholder="E-Mail Address" id="input-email" class="form-control" />
                        </div>
                    </div>
                </fieldset>
                <div class="buttons clearfix">
                    <div class="pull-right">
                        <input type="submit" value="Tiếp tục" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

