
@{
    ViewBag.Title = "ThayDoiMK";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using WebBanLaptop.Models

<p style="font-size:50px;text-align:center; margin-bottom:40px;">Đổi mật khẩu Admin</p>
<div class="container">
    <div class="row" style="margin-left:200px">


        <div class="col-sm-9" id="content">
            @{ 
                Admin ad = Session["Admin"] as Admin;
            }
            <form class="form-horizontal" enctype="multipart/form-data" method="post" action="ThayDoiMK" name="FormDky" onsubmit="return pwdconfirm()">
            @*@using (Html.BeginForm(new { @class = "form-horizontal", @enctype = "multipart/form-data", method = "post", @action = "ResetPwd", @name = "FormDky" }))*@
        
            <fieldset id="account">
                <legend>Thay đổi mật khẩu</legend>

                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Tên đăng nhập</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-firstname" placeholder="Tên đăng nhập" value="@ad.username" name="username" readonly required>
                    </div>
                </div>

                <div class="form-group required">
                    <label for="input-password" class="col-sm-2 control-label">Mật khẩu cũ</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="input-password" placeholder="Mật khẩu" value="" name="pwd" required>
                    </div>
                </div>

                <div class="form-group required">
                    <label for="input-password" class="col-sm-2 control-label">Mật khẩu mới</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="input-password" placeholder="Mật khẩu" value="" name="pwdnew" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-password" class="col-sm-2 control-label">Xác nhận mật khẩu</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="input-password" placeholder="Xác nhận mật khẩu" value="" name="pwdconfirm" required>
                    </div>
                </div>

            </fieldset>
            <p style="color:red">@ViewBag.thaydoimk</p>
            <div class="buttons">
                <div class="pull-right">
                    <a href="@Url.Action("Index","Admin")" style="margin-right:180px;"><input type="button" class="btn btn-primary" value="Trang chủ"></a>
                    <a href="@Url.Action("Thongtincanhan","Admin")" style="margin-right:20px;"><input type="button" class="btn btn-primary" value="Quay Lại"></a>
                    <input type="submit" class="btn btn-primary" value="Cập nhật">
                </div>
            </div>
            
            </form>

        </div>

    </div>

</div>

