    
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/NguoiDungCssLayout/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/responsive.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/stylesheet.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/NguoiDungCssLayout.css" rel="stylesheet" />

</head>
<body>
    <header style="margin-bottom:100px">

        <div class="header-top">
            
        </div>
        <div class="container">
            
        </div>
    </header>
    @RenderBody()
    <footer style="margin-top:100px">
        
        <a id="scrollup">Scroll</a>
    </footer>

    <script src="~/Content/NguoiDungCssLayout/javascript/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/Content/NguoiDungCssLayout/javascript/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Content/NguoiDungCssLayout/javascript/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/NguoiDungCssLayout/javascript/template_js/jstree.min.js"></script>
    <script type="text/javascript" src="~/Content/NguoiDungCssLayout/javascript/template_js/template.js"></script>
    <script type="text/javascript" src="~/Content/NguoiDungCssLayout/javascript/common.js"></script>
    <script type="text/javascript" src="~/Content/NguoiDungCssLayout/javascript/global.js"></script>
    <script type="text/javascript" src="~/Content/NguoiDungCssLayout/javascript/owl-carousel/owl.carousel.min.js"></script>

</body>
</html>
