
@using WebBanLaptop.Models;
@model List<Discount>

@*@{ var category = (List<Discount>)ViewBag.View; }*@

@foreach (var item in Model)
{
    if (item.value!=0)
    {
        <li><a href="@Url.Action("Index","KhuyenMai",new { id=item.Discount_id , page=1 })"> @item.value%</a></li>
    }
}


