
@model List<WebBanLaptop.Models.Giohang>
    <div id="giohang">
        <a href="@Url.Action("index","Giohang")">
            <img src="~/Content/Images/icon-thiet-ke-website-ban-do-noi-that.png" style="width:50px; height:auto" />
        </a>
        @{ 
            var x = 0;
            foreach (var item in Model)
            {
                x += item.iSoLuong;
            }
        }
        <span class="cart-num" id="soluonggiohang" style="display: block;">@x</span>
    </div>

